:root {
    --black-basic: rgba(0, 0, 0, 1);
    --black-modal-layer: rgba(0, 0, 0, 0.45);
    --black-shadow-stickynote: rgba(0, 0, 0, 0.2);
    --blue-dark-bg: rgba(7, 19, 128, 1);
    --blue-header-bg: rgba(87, 123, 193, 1);
    --border-bottom-basic: 1px solid var(--black-basic);
    --box-shadow-bar: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    --box-shadow-btn: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --box-shadow-col: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    --box-shadow-pin: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --box-shadow-stickynote: 2px 15px 5px rgba(0, 0, 0, 0.4);
    --gradient-stickynote: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffffc6 100%);
    --green-basic: rgba(34, 201, 65, 1);
    --grey-bg-btn-disabled: rgba(235, 232, 232, 1);
    --grey-color-btn-disabled: rgba(189, 186, 186, 1);
    --letter-spacing-basic: 0.1rem;
    --letter-spacing-high: 0.3rem;
    --letter-spacing-mid: 0.2rem;
    --red-basic: rgba(252, 47, 40, 1);
    --red-basic-transparent: rgba(252, 47, 40, 0.5);
    --red-pin-bg: radial-gradient(var(--red-basic) 50%, black 100%);
    --transition-data: 0.25s linear;
    --white-basic: rgba(254, 255, 255, 1);
    --white-border-stickynote: rgba(232, 232, 232, 1);
    --white-col-header-color: rgba(217, 236, 242, 1);
    --white-modal-bg-content: rgba(255, 255, 255, 0.65);
    --yellow-border-stickynote: rgba(253, 253, 134, 1);
}
