.bar {
    background: var(--white-basic);
    box-shadow: var(--box-shadow-bar);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 2;
}

.bar__container {
    padding: 0.75rem 0;
}

.bar__title {
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: var(--letter-spacing-mid);
    margin: 0 0 1rem;
    text-align: center;
}

.bar__highlight {
    font-weight: 700;
}

.bar__wrapper {
    display: flex;
    justify-content: space-between;
}

.bar__btn {
    box-shadow: var(--box-shadow-btn);
    color: var(--white-basic);
    font-weight: 700;
    letter-spacing: var(--letter-spacing-basic);
    padding: 0.5rem 0;
    width: 45%;
}

.bar__btn--add {
    background: var(--green-basic);
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.bar__btn--clear {
    background: var(--red-basic);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.bar__btn--clear:disabled {
    background: var(--grey-bg-btn-disabled);
    box-shadow: none;
    color: var(--grey-color-btn-disabled);
    font-weight: 400;
}

.app__information {
    align-items: center;
    background: var(--blue-dark-bg);
    color: var(--white-basic);
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    min-height: 50px;
    padding: 0.25rem 0.5rem;
}

.app__msg {
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: var(--letter-spacing-basic);
    text-align: center;
}
