.modal {
    align-items: center;
    background: var(--black-modal-layer);
    bottom: 0;
    display: flex;
    left: 0;
    padding: 0 1rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.modal__content {
    backdrop-filter: blur(5px);
    background: var(--white-modal-bg-content);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
}

.modal__bar {
    margin-bottom: 1rem;
    position: relative;
}

.modal__btn {
    background: inherit;
    font-size: 1.2rem;
    padding: 0.5rem;
    position: fixed;
    right: 0.5rem;
    top: 0.25rem;
}

.modal__container {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 480px) {
    .modal {
        justify-content: center;
    }

    .modal__content {
        width: 85%;
    }
}

@media only screen and (min-width: 640px) {
    .modal__content {
        width: 70%;
    }
}

@media only screen and (min-width: 800px) {
    .modal__content {
        width: 50%;
    }
}

@media only screen and (min-width: 1250px) {
    .modal__content {
        max-width: 800px;
    }
}
