.item {
    background: var(--gradient-stickynote);
    border-bottom-right-radius: 60px 5px;
    border: 1px solid var(--white-border-stickynote);
    border-top: 1px solid var(--yellow-border-stickynote);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 1rem 2rem 0.75rem;
    position: relative;
    width: 100%;
}

.item::after {
    background: var(--black-shadow-stickynote);
    bottom: 20px;
    box-shadow: var(--box-shadow-stickynote);
    content: '';
    height: 25px;
    position: absolute;
    right: 0px;
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
    width: 200px;
    z-index: -1;
}

.item__pin {
    background-image: var(--red-pin-bg);
    border-radius: 50%;
    box-shadow: var(--box-shadow-pin);
    display: block;
    height: 10px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0.25rem;
    transform: translateX(-50%);
    width: 10px;
}

.item__header {
    letter-spacing: var(--letter-spacing-basic);
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
}

.item__header::after {
    background: var(--black-basic);
    bottom: -3px;
    content: '';
    display: block;
    height: 1px;
    left: 15%;
    position: absolute;
    width: 70%;
}

.item__task {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.item__name {
    font-size: 1.2rem;
}

.item__deadline {
    align-items: center;
    display: flex;
    font-size: 0.9rem;
    margin-top: 0.25rem;
    justify-content: center;
}

.item__deadline--important {
    color: var(--red-basic);
    font-weight: 700;
}

.item__deadline--important::after {
    color: var(--red-basic-transparent);
    content: '!';
    font-size: 3rem;
    font-weight: 400;
    position: absolute;
    right: -7px;
    top: -7px;
}

.item__icon--deadline {
    margin-right: 5px;
}

.item__detail {
    display: grid;
    font-family: 'Roboto Mono', monospace;
    gap: 4px;
}

.item__info {
    display: grid;
    font-size: 0.9rem;
    gap: 5px;
    grid-template-columns: 20px 1fr;
}

.item__label {
    display: block;
    text-align: center;
}

.item__footer {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 1rem;
}

.item__btn {
    align-items: center;
    border-radius: 50%;
    color: var(--white-basic);
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.item__btn--nav {
    background: var(--green-basic);
}

.item__btn--remove {
    background: var(--red-basic);
}

.item__btn:disabled {
    visibility: hidden;
}

@media only screen and (min-width: 480px) {
    .item {
        padding: 1rem 1rem 0.75rem;
    }
}

@media only screen and (min-width: 800px) {
    .item {
        padding: 1rem 0.75rem 0.75rem;
    }
}

@media only screen and (min-width: 1100px) {
    .item {
        padding: 1rem 0.25rem 0.75rem;
    }

    .item::after {
        width: 80%;
    }

    .item__name {
        font-size: 1.1rem;
    }

    .item__deadline,
    .item__info {
        font-size: 0.8rem;
    }

    .item__deadline--important::after {
        right: -4px;
    }

    .item__btn {
        background: inherit;
        color: var(--black-basic);
        transition: box-shadow var(--transition-data), color var(--transition-data),
            transform var(--transition-data);
    }

    .item__btn:hover {
        color: var(--white-basic);
        transform: scale(1.15);
    }

    .item__btn--remove:hover {
        box-shadow: inset 0 -3.25em 0 0 var(--red-basic);
    }

    .item__btn--nav:hover {
        box-shadow: inset 0 -3.25em 0 0 var(--green-basic);
    }
}
